Hello account
<p>ID: {{user.id}}</p>
<p>Username: {{user.username}}</p>
<p>Name:{{user.displayName}}</p>
<p>Gender:{{user.gender}}</p>
<p>Birthday:{{user.birthday}}</p>
<p>Email:{{user.email}}</p>
<p>RelationStatus:{{user.relationship_status}}</p>